/* ===============================
        override Checkbox
 =============================== */

.custom-checkbox,
.custom-radio {
  @extend .form-check;
  #ar & {
    padding-left: 0;
    padding-right: 1.5em;
  }

  .custom-control-input {
    @extend .form-check-input;
  }

  .custom-control-label {
    @extend .form-check-label;
  }
}

.form-check-inline {
  .custom-radio {
    display: inline-block;
    margin-right: 1rem;
    #ar & {
      margin-right: 0;
      margin-left: 1rem;
    }
  }
}
