/* ===============================
       gray color Variables
 =============================== */
$gray-100: #fafafa !default;
$gray-200: #eee !default;
$gray-300: #cfcfcf !default;
$gray-400: #bbbfc2 !default;
$gray-500: #8c8b8b !default;
$gray-600: #515151 !default;
$gray-900: #333;
$black: #000;
$white: #fff;

/* ===============================
       map gray color
 =============================== */
$grays: (
  "100": $gray-100,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "900": $gray-900,
);

/* ===============================
        Color Variables
 =============================== */
$primary: #0357a8;
$dark-blue: #0c3c6b;
$secondary: #11e4ea;
$info: #95b9da;
$light: #eff7ff;
$light-blue: #ecfbff;
$warning: #f69c5d;
$danger: #e30613;
$success: #4ed9b4;

/* ===============================
        map theme color
 =============================== */
$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  warning: $warning,
  danger: $danger,
  success: $success,
  gray: $gray-600,
  white: $white,
  dark: $black,
  light: $light,
  gray-200: $gray-200,
  gray-300: $gray-300,
  gray-400: $gray-400,
  gray-500: $gray-500,
  info: $info,
  light-blue: $light-blue,
  dark-blue: $dark-blue,
);

/* ===============================
        Body color Variables
 =============================== */
$body-color: $gray-900;
$body-bg: $light !default;

/* ===============================
         Fonts Variables
 =============================== */
$font-path: "@/../../fonts";

$font-size-base: 1rem; // 16px
$base-font-family: "Cairo", sans-serif;

/* ===============================
       Style anchor elements
 =============================== */
$link-decoration: none !default;
$link-hover-decoration: underline !default;
$link-hover-color: $secondary;

/* ===============================
        position-values
   =============================== */

$position-values: (
  0: 0,
  50: 50%,
  100: 100%,
);

/* ===============================
         radius
   =============================== */

$border-radius: 0.25rem;

/* ===============================
         Style Breadcrumb
   =============================== */
$breadcrumb-bg: $primary;
$breadcrumb-margin-bottom: 0;
$breadcrumb-padding-x: 1rem;
$breadcrumb-border-radius: $border-radius;

$navbar-light-color: $primary;

/* ===============================
         Button
   =============================== */
$btn-disabled-opacity: 0.3;
